BraveSoftware/
alacritty/
cava/
Code/
coreapps/
cubocore/
dconf/
discord/
font-manager/
fontconfig/
gtk-2.0/
gtk-3.0/
htop/
mc/
menus/
mpv/
nautilus/
OpenRGB/
procps/
pulse/
solaar/
spicetify/
spotify/
yay/
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
